// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

:root {
  font-family: 'Inter', sans-serif;
  background-color: white;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}
